.App {
  background-color: #a6c8c8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;

  width: 100vw;
}
*,
div {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
